<!DOCTYPE html>
<html>
<head>
    <title>Knitting Web App</title>
    <script src="../lib/js/jquery.min.js"></script>

        <!-- import locales.ini for global translation -->
    <link rel="resource" type="application/l10n" href="global-translations/locales.ini" />
    <!-- import l10.js for global translation -->
    <script type="text/javascript" src="js/l10n.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/css/colpick.css" type="text/css"/>
    <link rel="stylesheet" href="../lib/css/jquery.Jcrop.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="responsive/responsive.css">

</head>

<body>

<div id="outer-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" data-l10n-id="heading_knittingwebapplication">Knitting Web Application</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" data-l10n-id="menu_file">File<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-l10n-id="menu_file_openproject">Open Project</a></li>
                            <li><a id="dwnload_pattern_link" download="savePattern.jpg">Download Pattern</a></li>
                            <li><a href="#" data-l10n-id="menu_file_importpattern">Import Pattern</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Drawing Tool</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-l10n-id="menu_translate" data-toggle="dropdown" href="#" data-l10n-id="menu_translate">Translate<span class="caret"></span></a>
                        <ul id="langmenu" class="dropdown-menu">
                            <li><a href="#" onclick="setLang('en')" data-l10n-id="menu_translate_english">English</a></li>
                            <li><a href="#" onclick="setLang('ge')" data-l10n-id="menu_translate_german">German</a></li>
                            <li><a href="#" onclick="setLang('si')" data-l10n-id="menu_translate_sinhala">Sinhala</a></li>
							<li><a href="#" onclick="setLang('ta')" data-l10n-id="menu_translate_tamil">Tamil</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" data-l10n-id="menu_help">Help<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-l10n-id="menu_help_aboutsoftware">About Software</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="wrapper" class="page">
        <div id="content">
            <fieldset id="load-file">
                <p id="status" data-l10n-id="heading_loadapattern">Load a Pattern</p>
                <input id="file" type="file" onchange="readURL(this);"/>
            </fieldset>
            <div id="row-preview" class="img-outer">
                <div id="img_inner" class="img-inner">
                    <img id="img_loader" src="#"/>
                    <img id="test" src="#" style="display: none"/>

                    <div id="loader-controller-group">
                       <label data-l10n-id="checkbox_enablecropping">
                            <input id="cropCheck" onclick="crop()" type="checkbox">
                            &nbsp;Enable cropping
                        </label>

                        <div class="right">
                            <button title="Crop" onclick="draw()"><img src="responsive/crop.png"></button>
                        </div>
                    </div>
                </div>
                <div id="preview" class="preview-box">
                    <canvas id="previewCanvas"></canvas>

                    <div id="preview-controller-group">
                        <div class="right">
                            <button id="rotateLeftBtn" title="Rotate left" onclick="rotate(-90)"><img
                                    src="responsive/rotate-acc.png"></button>
                            <button id="rotateRightBtn" title="Rotate right" onclick="rotate(90)"><img
                                    src="responsive/rotate-cc.png"></button>
                        </div>
                    </div>
                </div>

                <div id="yarn-colors" class="right-to-img-loader">
                    <button id="addBtn" data-l10n-id="button_addyarncolour">Add Yarn Colour</button>
                    <table id="previewTable" cellspacing="0" cellpadding="0"></table>
                </div>

                <div class="clear"></div>
            </div>
            <div id="generator">
                <button onclick="init()" data-l10n-id="button_generatepattern">Generate Pattern</button>
            </div>

            <fieldset id="row-generated">
                <h3>Generated Pattern </h3>

                <div>
                    <div>
                        <div id="container">
                            <canvas id="canvas" class="canvas"></canvas>
                            <canvas id="gridCanvas" class="canvas"></canvas>
                            <canvas id="layoutCanvas" class="canvas"></canvas>
                            <div class="clear"></div>
                        </div>

                        <div id="control-panel">
                        <div id="controller-group-a" class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label>&nbsp;</label>

                                    <div id="picker1"></div>
                                </div>
                                <div class="text-input-group">
                                    <label>&nbsp;</label>
                                    <button onclick="colourChange()"><span class="glyphicon glyphicon-screenshot"></span>Fill</button>
                                    <button onclick="pixelDel()"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                                    <button onclick="undo()"><span class="glyphicon glyphicon-repeat"></span>Reset</button>
                                </div>
                            </div>
                            <!--<button onclick="checkBounds()">test</button>-->
                        </div>

                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label data-l10n-id="input_columns">columns:&nbsp;</label>
                                    <input id="widthInput" class="input-params" type="text" value="100">

                                    <div class="clear"></div>
                                </div>

                                <div class="text-input-group">
                                    <label data-l10n-id="input_rows">rows:&nbsp;</label>
                                    <input id="heightInput" class="input-params" type="text" value="100">

                                    <div class="clear"></div>
                                </div>
                            </div>

                        </div>
                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label>&nbsp;</label>
                                    <input type="checkbox" onclick="checkBounds(this,true)">&nbsp;Show Colour Regions[selected area]
                                </div>

                                <div class="text-input-group">
                                    <input type="checkbox" onclick="checkBounds(this,false)">&nbsp;Show Colour Regions[all area]
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label>&nbsp;</label>
                                    <input type="radio" name="areaTool" id="freeHandSelect" onclick="selectTool(true)">&nbsp;Free
                                    Hand
                                    <!--<div class="clear"></div>-->
                                </div>
                                <div class="text-input-group">
                                    <input type="radio" name="areaTool" id="squareSelect" checked="checked"
                                           onclick="selectTool(false)">&nbsp;Square
                                    <!--<div class="clear"></div>-->
                                </div>
                            </div>
                        </div>

                            <div class="panel">
                                <div class="input-group">
                                    <div class="text-input-group">
                                        <label data-l10n-id="input_columns">host:&nbsp;</label>
                                        <input id="host_addr" class="input-params" type="text" placeholder="127.0.0.1[default]">

                                        <div class="clear"></div>
                                    </div>

                                    <div class="text-input-group">
                                        <label data-l10n-id="input_rows">port:&nbsp;</label>
                                        <input id="port" class="input-params" type="text" placeholder="80[default]">

                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </div>

                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label data-l10n-id="input_port">&nbsp;Port:</label>&nbsp;
                                    <select id="port_list" style="width:40%"><option>-select-</option></select>&nbsp;
                                    <button onclick="refreshPorts()"><span class="glyphicon glyphicon-refresh"></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label data-l10n-id="input_machine">&nbsp;Machine:</label>&nbsp;
                                    <select id="machine_list" style="width:40%"><option>-select-</option></select>&nbsp;
                                    <button onclick="updateMachineType()"><span class="glyphicon glyphicon-refresh"></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label>&nbsp;</label>
                                    <button onclick="loadPattern()" style="width:50%">Proceed Knitting</button>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <fieldset id="row-generated-simulator">
            <div id="simulator" style='display:none'>
                <h1 style='margin-top:5px;margin-left:20px' data-l10n-id="">Knitting Simulator</h1>

                <div id="simulator-canvas-section" style="margin: 10px">
                    <div id="simulator-canvas-div">
                        <canvas id="simulatorCanvas"></canvas>
                        <canvas id="pointerCanvas"></canvas>
                    </div>
                    <div id="simulator-panel">
                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label data-l10n-id="">Column:</label>
                                    <input id="column-num" class="input-params" type="text" value="0" readonly="readonly" >

                                    <div class="clear"></div>
                                </div>

                                <div class="text-input-group">
                                    <label data-l10n-id="">Row:</label>
                                    <input id="row-num" class="input-params" type="text" value="0" readonly="readonly" >
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label data-l10n-id="">Colors:&nbsp;</label>
                                    <input id="colour-count" class="input-params" type="text" value="2" readonly="readonly" >

                                    <div class="clear"></div>
                                </div>

                                <div class="text-input-group">
                                    <label data-l10n-id="">Start Line:&nbsp;</label>
                                    <input id="start-line" class="input-params" type="text" value="0">

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label>&nbsp;</label>
                                    <input type="checkbox" onclick="" data-l10n-id="">&nbsp;Infinite Repeat
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label data-l10n-id="">Start Needle:&nbsp;</label>
                                    <input id="start-needle" class="input-params" type="text" value="0" >

                                    <div class="clear"></div>
                                </div>

                                <div class="text-input-group">
                                    <label data-l10n-id="">Stop Needle:&nbsp;</label>
                                    <input id="stop-needle" class="input-params" type="text" value="0">

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label>&nbsp;</label>
                                    <button id="configure-btn" type="button" class="btn btn-default" onclick="configureKnit()" style="width:60%" data-l10n-id="button_configure">Configure</button>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="input-group">
                                <div class="text-input-group">
                                    <label>&nbsp;</label>
                                    <button id="start-btn" type="button" class="btn btn-default" disabled="disabled" onclick="startKnit()" style="width:20%" data-l10n-id="">Start</button>
                                    <button id="pause-btn" type="button" class="btn btn-default" disabled="disabled" onclick="updateHead()" style="width:20%" data-l10n-id="">Pause</button>
                                    <button id="stop-btn" type="button" class="btn btn-default" disabled="disabled" onclick="updateHead()" style="width:20%" data-l10n-id="">Stop</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 10px">
                    <button type="button" class="btn btn-primary" id="back-nav-btn" style='width:20%;margin-left:20px;float: left' onClick='loadContentPage()' data-l10n-id="">Back to Editor</button>
                </div>
            </div>
        </fieldset>
    </div>

    <div id="drawing-wrapper">
        <div id="drawing-section">

            <canvas width="500px" height="500px" id="layout-canvas"></canvas>
            <canvas width="500px" height="500px" id="drawing-canvas"></canvas>

        </div>
        <div id="button-panel" class="btn-group-vertical">
            <button id="rect-btn" type="button" class="btn btn-default">Rectangle</button>
            <button id="circle-btn" type="button" class="btn btn-default">Circle</button>
            <button id="triangle-btn" type="button" class="btn btn-default">Triangle</button>
            <button id="line-btn" type="button" class="btn btn-default">Straight line</button>
            <button id="continuous-line-btn" type="button" class="btn btn-default">Cont line</button>
            <button id="clear-btn" type="button" class="btn btn-default">Clear</button>
            <button id="load-btn" type="button" class="btn btn-default">Load Image</button>
            <button id="crop-btn" type="button" class="btn btn-default">Crop</button>
        </div>
    </div>

</div>


<canvas id="canvas2" width=1000 height=1000 style="display: none"></canvas>
<script type="text/javascript">
    $("#img_inner").height($("#img_inner").width());
    $("#preview").height($("#preview").width());
    $("#yarn-colors").height($("#preview").width());

    $("#container").height($("#container").width());
    // $("#canvas").height($("#canvas").width());
    // $("#layoutCanvas").height($("#layoutCanvas").width());
    // $("#gridCanvas").height($("#gridCanvas").width());

    calibrateColorsTable();

    $(window).resize(function () {
        $("#img_inner").height($("#img_inner").width());
        $("#preview").height($("#preview").width());
        $("#yarn-colors").height($("#preview").width());

        $("#container").height($("#container").width());
        // $("#canvas").height($("#canvas").width());
        // $("#layoutCanvas").height($("#layoutCanvas").width());
        // $("#gridCanvas").height($("#gridCanvas").width());

        calibrateColorsTable();
    });

    function calibrateColorsTable() {
        // calibrate colors table size
        var containerHeight = parseInt($("#yarn-colors").height());
        var btnHeight = parseInt($("#addBtn").height());
        var btnMarginTop = parseInt($("#addBtn").css('margin-top').replace("px", ""));
        var btnMarginBottm = parseInt($("#addBtn").css('margin-bottom').replace("px", ""));
        var btnBorderTop = parseInt($("#addBtn").css('border-top-width').replace("px", ""));
        var btnBorderBottom = parseInt($("#addBtn").css('border-bottom-width').replace("px", ""));
        var btnPaddingTop = parseInt($("#addBtn").css('padding-top').replace("px", ""));
        var btnPaddingBottom = parseInt($("#addBtn").css('padding-bottom').replace("px", ""));

        var table_height = containerHeight - (btnHeight + btnMarginTop * 2 + btnMarginBottm + btnBorderTop * 2 + btnBorderBottom + btnPaddingTop * 2 + btnPaddingBottom);
        console.log(table_height);
        $("#previewTable").height(table_height);
    }


</script>

<script src="../controller/pixelate.js"></script>
<script src="../controller/editor.js"></script>
<script src="../model/client/client.js"></script>
<script src="../controller/com_handler.js"></script>

<script src="../lib/js/colpick.js" type="text/javascript"></script>
<script src="../lib/js/jquery.Jcrop.js"></script>
<script src="../lib/js/jquery.Jcrop.min.js"></script>
<script src="js/jcrop_main.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../controller/colorschema.js"></script>
<script type="text/javascript" src="../controller/drawingtool.js"></script>
<script type="text/javascript" src="../controller/knitSimulatorHandler.js"></script>
<script type="text/javascript" src="../controller/navbarhandler.js"></script>
<script type="text/javascript" src="js/style.js"></script>

<!-- set language javascript for global translations -->
<script src="js/set_lang.js"></script>
</body>
</html>

