<!DOCTYPE html>
<html>
<head>
    <title>Knitting Web App</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script src="../controller/pixelate.js"></script>
    <script src="../controller/editor.js"></script>
    <script src="../controller/colourpicker.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<h1>
    <center>Welcome to Knitting Web App</center>
</h1>
<h3></h3>
<div ng-app="knitWebApp" ng-controller="knitPattrnCtrl">
    <fieldset>
        <p id="status">Load a Pattern</p>

        <div id="progressbar"></div>
        <input id="file" type="file" onchange="readURL(this);" ng-model="pattern"/>
    </fieldset>
    <br>
    <button onclick="pixelate()">Pixelate</button>

    <div>
        <img id="img_loader" style="border:1px solid black;margin-top: 30px" src="#" onload="init()"/>

        <div class="colorPreview"></div>
    </div>
    <fieldset>
        <p>Preview of the pattern</p>
        <div>

            <canvas id="canvas" style="border:1px solid grey;width: 30%; height:30%; margin-left: 700px"></canvas>
            <canvas id="canvas2" width=500 height=500 style="margin-left: -1265px; position: absolute" ></canvas>
        </div>
        <input id="blocks" type="range" min="1" max="12" value="12">
    </fieldset>

</div>
<script src="../controller/colorschema.js"></script>
</body>
</html>

