<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="responsive/responsive.css">
</head>
<>

<div id="heading">
    <h1>Knitting Web App</h1>
</div>

<div id="wrapper">
    <fieldset id="row-generated">
        <h3>Pattern Preview</h3>

        <!--<div>-->
            <!--<div>-->
                <!--<div id="container">-->
                    <!--<canvas id="simulatorCanvas" style="width: 700px;height: 500px;" class="canvas"></canvas>-->
                    <!--<div class="clear"></div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    </fieldset>
</div>

</div>

</body>
</html>