<!doctype html>
<head>
    <title>Knitting Web App</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
  var url;

   function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();
        url = input.files[0];

        reader.onload = function (e) {
            $('#img_loader').attr('src', e.target.result)
		    .width(350)
                    .height(350);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#file").change(function(){
    readURL(this);
});

  function getURL(){
    return url;
  }

  function file_select_handler(to_upload) {
      var progressbar = $('#progressbar');
      var status = $('#status');
      var xhr = new XMLHttpRequest();
      xhr.upload.addEventListener('loadstart', function(e1){
          status.text('uploading image');
          progressbar.progressbar({max: e1.total});
      });
      xhr.upload.addEventListener('progress', function(e1){
          if (progressbar.progressbar('option', 'max') == 0)
              progressbar.progressbar('option', 'max', e1.total);
          progressbar.progressbar('value', e1.loaded);
      });
      xhr.onreadystatechange = function(e1) {
          if (this.readyState == 4)  {
              if (this.status == 200)
                  var text = 'upload complete: ' + this.responseText;
              else
                  var text = 'upload failed: code ' + this.status;
              status.html(text + '<br/>Select an image');
              progressbar.progressbar('destroy');
          }
      };
      xhr.open('POST', '/post', true);
      xhr.send(to_upload);
  };

  $('#file').change(function(e){
      file_select_handler(e.target.files[0]);
      e.target.value = '';
  });

    </script>
</head>

<body>
<h1>
    <center>Welcome to Knitting Web App</center>
    <h1>
        <h3></h3>
        <fieldset>
            <p id="status">Load a Pattern</p>

            <div id="progressbar"></div>
            <input id="file" type="file" onchange="readURL(this);"/>
            <button id="inputBtn" onclick="">
        </fieldset>
        <fieldset>
            <div><img id="img_loader" style="border:1px solid black" src="#"/></div>
        </fieldset>
</body>


{%from PIL import Image%}

{%backgrndColor = 1%}
{%pixelSize = 8%}

{%image = Image.open(%}
<script>getURL()</script>{%)%}
{%image = image.resize((image.size[0]/pixelSize, image.size[1]/pixelSize), Image.NEAREST)%}
{%image = image.resize((image.size[0]*pixelSize, image.size[1]*pixelSize), Image.NEAREST)%}
{%pixel = image.load()%}

{%for i in range(0,image.size[0],pixelSize):%}
{% for j in range(0,image.size[1],pixelSize):%}
{%    for r in range(pixelSize):%}
{%     pixel[i+r,j] = backgrndColor%}
{%     pixel[i,j+r] = backgrndColor%}

{%image.save('ImageOut.jpg') %}
