.color-box {
    float:left;
    width:50px;
    height:30px;
    margin:5px;
    border: 1px solid white;
}

#img_loader{

}

.preview-box{
    height: 350px;
    width: 350px;
    float: left;
    margin-left: 50px;
}

.right-to-img-loader {
    height: 350px;
    display: block;
    float: left;
    margin-left: 50px;
    background-color: beige;
}

.clear {
    clear: both;
}

.img-inner {
    width: 350px;
    height: 350px;
    display: block;
    float: left;
    border: solid 1px gray;
}

.img-outer {
    width: auto;
    height: 350px;
    margin: 30px;
    padding: 20px;
}

#container{
    position: relative;
}

#canvas,#layoutCanvas{
    position: absolute;
}